/* Ensure the h1 is centered */
h1 {
    text-align: center;
}

body {
    background-color: #0D090A;
    color: #E60000;
}

/* Container background */
.container {
    background-color: #FF220C;


/* Image styling */
img {
    width: 95px;
}

